.container-fluid {
    background-color: rgb(225, 224, 224);
    .card-chart {
        background-color: white;
        height: 320px;
        box-shadow: 2px 3px 3px 1px gray;
        // color: #0000ff;
        .card-body {
            p {
                color: gray;
                font-size: 18px;
                // color: #ff0fcf;
            }
        }
    }

    
}