.Footer {
    background-color: #2b2b31;

    &-logo {
        img {
            padding-right: 2rem !important;
            border-right: 2px solid #626381;
        }
    }

    &-title {
        padding-left: 2rem !important;
    }

    &-about {
        a{
            padding-right: 10px !important;
            padding-left: 10px !important; 
            border-right: 2px solid #626381;
            align-items: center !important; ;
        }
       
    }
    &-emailbtn{
        button{
            color: white;
            background-color: #ff55a5;
            
            &:hover{
                color: white;
                background-color: #ff55a5;
            }
        }
    }
}